<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" >Jegybazár</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" routerLinkActive="active" routerLink="/home">Home <span
          class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/event/list">Események</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ticket/list">Jegyek</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/about">Rólunk</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user/login">Belépés</a>
        <a class="nav-item nav-link"  class="btn btn-sm align-middle btn-primary"
        routerLink="/user/registration">Regisztráció</a>
      </div>
    </div>

  </div>
</nav>
